apiVersion: 1

datasources:
  - name: LINDAS
    uid: lindas-datasource
    type: flandersmake-sparql-datasource
    access: proxy
    url: https://lindas.admin.ch/query
    isDefault: true
    editable: true
    jsonData:
      source: https://lindas.admin.ch/query
